        body {
            padding: 10px;
            border:1px  solid black;
            position: absolute;   
        left: 750px;
        top: 250px;
        }
        header{
            text-align: center;
            font-size: 25px;
        }
        section{
            columns: 2;
            column-gap: 25px;
            margin-left: 5px;
        }
        input:not(#checkbox),button,select{
            display: inline-block;
            margin-top: 5px;
            width:100%;
        }
        .div1{
            text-align: right;
        }
        label{
            display: inline-block;
            font-size: 18px;
            margin-top: 5px;
        }
        .submit1{
            columns: 2;
            column-gap: 6px;
            font-size: 15px;
        }
